@model ExpressVoiture.Data.Voiture

<div class="row ">
    <div class="col-md-6 ">
        <img src="@Url.Content($"~/images/{Model.CodeVIN}.jpg")" alt="@Model.Marque @Model.Modele" class="img-fluid" />
    </div>
    <div class="col-md-6 padding-top-20">
        <h2>@Model.Marque @Model.Modele</h2>
        <p><strong>Année :</strong> @Model.Annee</p>
        <p><strong>Finition :</strong> @Model.Finition</p>
        <p><strong>Prix de vente :</strong> @Model.PrixVente.ToString("C")</p>
        <p><strong>Date d'achat :</strong> @Model.DateAchat.ToShortDateString()</p>
        <p><strong>Réparations :</strong> @Model.Reparations</p>

        @if (User.IsInRole("Admin"))
        {
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Modifier</a>
                <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Supprimer</a>
            </div>
        }
        <a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
    </div>
</div>
