@model IEnumerable<ExpressVoiture.Data.Voiture>



<h1>@ViewData["Title"]</h1>
    
    @if (User.IsInRole("Admin"))
    {
        <div class="text-center mb-3">
            <a asp-action="Create" class="btn btn-success">+ Ajouter une voiture</a>
        </div>
    }

<div class="voitures-grid">
    @foreach (var voiture in Model)
    {
        <div class="voiture-card">
            <div class="voiture-image">
                <!-- Lien autour de l'image pour rediriger vers la vue de détails -->
                <a asp-action="Details" asp-route-id="@voiture.Id">
                    <img src="@Url.Content($"~/images/{voiture.CodeVIN}.jpg")" alt="@voiture.Marque?.Nom @voiture.Marque?.Modeles?.Where(m => m.Id == voiture.ModeleId).First().Nom" class="img-fluid" />
                </a>
            </div>
            <div class="voiture-details">
                <h3>@(voiture.Marque?.Nom ?? "N/A") -  @(voiture.Marque?.Nom != null ? voiture.Marque?.Modeles?.Where(m => m.Id == voiture.ModeleId).First().Nom : "N/A")</h3>
                <p><strong>Prix de vente :</strong> @voiture.PrixVente.ToString("C")</p>
                <p><strong>Année :</strong> @voiture.Annee</p>
                <p><strong>Modèle :</strong> @(voiture.Marque?.Nom != null ? voiture.Marque?.Modeles?.Where(m => m.Id == voiture.ModeleId).First().Nom : "N/A")</p>
                <p><strong>Finition :</strong> @voiture.Finition</p>
                <a asp-action="Details" asp-route-id="@voiture.Id" class="btn btn-primary">Détails</a>
            </div>
        </div>
    }
</div>

@section Styles {
    <style>
        .voitures-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(600px, 1fr)); /* Chaque véhicule occupe 600px minimum */
            gap: 20px;
        }

        .voiture-card {
            display: flex;
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 15px;
            transition: transform 0.2s;
        }

            .voiture-card:hover {
                transform: scale(1.02);
            }

        .voiture-image {
            flex: 1; 
            margin-right: 20px;
        }

        .voiture-details {
            flex: 2; 
        }

    </style>
}
